<div class="" *ngIf="popup_disabel" >
    <div style="border:2px solid rgb(230, 230, 230); height:500px ; border-radius: 10px;">
        <div style="background-color: rgb(5, 182, 158); width:100%; height: 300px;" class="rounded">

        </div>
        <div class="text-center">
            <h1 class="text-center">Great</h1>
            <h4>Your Account has been created succesfully</h4>
            <button style="background-color: rgb(251, 255, 0); border-radius: 10px; height: 50px;; ">Start Exploring</button>
        </div>
    </div>
   
</div>